{extend name="base" /}
{block name="body"}
<div class="layui-body">
	<!--tab标签-->
	<div class="layui-tab layui-tab-brief">
		<ul class="layui-tab-title">
			<li class=""><a href="{:url('admin/product/index')}">产品管理</a></li>
			<li class="layui-this">添加产品</li>
		</ul>
		<div class="layui-tab-content">
			<div class="layui-tab-item layui-show">
				<form class="layui-form form-container" action="{:url('admin/product/save')}" method="post">
					<div class="layui-form-item">
						<label class="layui-form-label">产品名称</label>
						<div class="layui-input-block">
							<input type="text" name="name" value="" required lay-verify="required" placeholder="请输入名称" class="layui-input">
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">产品描述</label>
						<div class="layui-input-block">
							<input type="text" name="description" value="" required lay-verify="required" placeholder="请输入描述" class="layui-input">
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">跳转地址</label>
						<div class="layui-input-block">
							<input type="text" name="url" value="" required lay-verify="required" placeholder="请输入地址" class="layui-input">
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">缩略图</label>
						<div class="layui-input-block">
							<input type="text" name="img" value="" class="layui-input layui-input-inline" id="thumb">
							<input type="file" name="file" class="layui-upload-file">
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">排序</label>
						<div class="layui-input-block">
							<input type="text" name="sort" value="0" required lay-verify="required" class="layui-input">
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">状态</label>
						<div class="layui-input-block">
							<input type="radio" name="status" value="1" title="启用" checked="checked">
							<input type="radio" name="status" value="0" title="禁用">
						</div>
					</div>
					<div class="layui-form-item">
						<div class="layui-input-block">
							<button class="layui-btn" lay-submit lay-filter="*">保存</button>
							<button type="reset" class="layui-btn layui-btn-primary">重置</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{/block}